<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szh.struct.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.szh.sensitive.entity.UserInfo">
            <id property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="mobilephone" column="mobilephone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="uimage" column="uimage" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="school" column="school" jdbcType="VARCHAR"/>
            <result property="faculty" column="faculty" jdbcType="VARCHAR"/>
            <result property="startime" column="startime" jdbcType="VARCHAR"/>
            <result property="userstatus" column="userstatus" jdbcType="INTEGER"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="sign" column="sign" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,username,password,
        mobilephone,email,uimage,
        sex,school,faculty,
        startime,userstatus,createtime,
        status,sign
    </sql>
</mapper>
